{% extends 'base.html.twig' %}


{% block body %}


    <div class="container mt-5">

        {% for message in app.Flashes('success') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.nom,{ 'attr': {'required': true} }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prenom,{ 'attr': {'required': true} }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.email,{ 'attr': {'required': true} }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.mdp,{ 'attr': {'required': true} }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.adresse,{ 'attr': {'required': true} }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.ville,{ 'attr': {'required': true} }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.codePostal,{ 'attr': {'required': true} }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.tel,{ 'attr': {'required': true} }) }}
            </div>
        </div>
        <button class="btn btn-primary w-100 mt-5">Enregistrer les modifications</button>
        {{ form_end(form) }}

    </div>


{% endblock %}