{% extends "base.html.twig" %}


{% block body %}

    <div class="container">

        <h3 class="text-center m5">Gallerie</h3>

        <div class="row d-flex justify-content-center mt-5">

            <div class="col-12 m-5 p-0 text-center div_oeuvre_gallerie">
                {% for oeuvre in oeuvres %}

                    <h3 class="titre_oeuvre_gallerie">{{ oeuvre.titre }}</h3>

                     <img alt="{{ oeuvre.titre }}" src="{{ asset ('assets/images/'~oeuvre.photo) }}" class="post-detail-img-left" />

                     <p  class="technique-gallerie">Technique : {{ oeuvre.techniques }} <br></p>

                     <div>
                         <a class="btn btn-block btn-ac btn-gallerie"
                            href="{{ path('boutique') }}">
                             Acquérir cette oeuvre
                         </a>
                     </div>

                     <br><br><br><br>
                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}