{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        .grid-sizer,
        .grid-item { width: calc( (100% / 3) - 2rem); }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        <h3 class="text-center m-5">Boutique</h3>


        <div class="row grid m-5">
            <div class="grid-sizer"></div>
            {% for oeuvre in oeuvres %}
                <div class="col-lg-4 grid-item">
                    <div class="card oeuvre-card">
                        <img class="img-fluid" alt="{{ oeuvre.titre }}" src="{{ asset ('assets/images/'~oeuvre.photo) }}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ oeuvre.titre }}</h5>
                            <p class="card-text">
                                <span>Technique :</span> {{ oeuvre.techniques }} <br>
                                <span>Dimensions :</span> {{ oeuvre.dimensions }} <br>
                                <span>Prix :</span> {{ oeuvre.prix }} euros T.T.C <br>
                                <span>Disponibilité :</span> {{ oeuvre.statut }} <br>
                            </p>
                            <a class="btn btn-block btn-primary btn-ac"
                               href="{{ path('addPanier',{'id': oeuvre.id }) }}">
                                Ajouter au Panier
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
        $(function() {
            var $grid = $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true,
                gutter: 15
            });
            $grid.imagesLoaded().progress( function() {
                $grid.masonry('layout');
            });
        })
    </script>
{% endblock %}

