{% extends "base.html.twig" %}


{% block body %}
    {#{{ dump(oeuvres) }}#}
<ul>
    {#{% for oeuvre in oeuvres %}#}

        <li>
            {{ oeuvres.titre }}
        </li>

        <li>
            <img alt="" src="{{ asset ('assets/images/'~oeuvres.photo) }}" class="post-detail-img-left" />
        </li>

        <li>
            {{ oeuvres.techniques }}
        </li>

        <li>
            {{ oeuvres.dimensions }}
        </li>

        <li>
            {{ oeuvres.prix }}
        </li>

        <li>
            {{ oeuvres.statut }}
        </li>
        <li>
            <a href="{{ path('addPanier',{
                'id': oeuvres.id
            }) }}">ajouter à Panier</a>

        </li>

        <br><br><br><br><br><br><br>
    {#{% endfor %}#}
</ul>
{% endblock %}