{% extends 'layout.html.twig' %}


{% block body %}

    {{ dump(app.session) }}



       <ul class="thumbnails">

        {% for oeuvre in panier %}

            <li>
                {{ oeuvre.titre }}
            </li>

            <li>
                <img alt="" src="{{ asset ('assets/images/'~oeuvre.photo) }}" class="post-detail-img-left" />
            </li>

            <li>
                {{ oeuvre.techniques }}
            </li>

            <li>
                {{ oeuvre.dimensions }}
            </li>

            <li>
                {{ oeuvre.prix }}
            </li>

            <li>
                {{ oeuvre.statut }}
            </li>
        <button class="btn btn-primary"><a href="#">Remove</a></button>

        <br><br><br><br><br><br><br>
        {% endfor %}
    </ul>
{% endblock %}