{% extends 'layout.html.twig' %}


{% block body %}

    {#{{ dump(app.session('panier')) }}#}
    {% if panier is not empty %}
    <button class="btn btn-primary bg-danger"><a href="{{ path('removePanier') }}">RemoveAll</a></button>

       <ul class="thumbnails">

        {% for oeuvre in panier %}

            <li>
                {{ oeuvre.titre }}
            </li>

            <li>
                <img alt="" src="{{ asset ('assets/images/'~oeuvre.photo) }}" class="post-detail-img-left" />
            </li>

            <li>
                {{ oeuvre.techniques }}
            </li>

            <li>
                {{ oeuvre.dimensions }}
            </li>

            <li>
                {{ oeuvre.prix }}
            </li>

            <li>
                {{ oeuvre.statut }}
            </li>
        <button class="btn btn-primary"><a href="{{ path('removeInPanier', {
                'id': oeuvre.id
            }) }}">Remove</a></button>

        <br><br><br><br><br><br><br>
        {% endfor %}
    </ul>

    {% else %}
        <div>
               <h1>Panier est vide!</h1>
        </div>
    {% endif %}
{% endblock %}